# Plantilla de variables de entorno. Copia a .env y ajusta los valores.

VITE_API_USERS_URL=https://jsonplaceholder.typicode.com
VITE_API_AUTH_URL=https://dummyjson.com/auth
VITE_API_PRODUCTS_URL=https://dummyjson.com
